@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<div>
    <table class="table table-borderless" style="align-content:center">
        <tr>
            <td><label style="margin-left:auto;margin-right:auto;margin-top:50px; font-size:60px"><strong>GSC</strong></label></td>
        </tr>
        <tr>
            <td><label style="margin-left:auto;margin-right:auto"><strong>GestionSystem Soft Construcción</strong></label></td>
        </tr>
        <tr>
            <td><img src="~/Sources/ImagesApp/Login.png" alt="" style="height:180px" /></td>
        </tr>
        <tr>
            <td><input class="form-control" style="margin-left:auto;margin-right:auto" type="text" name="name" id="InputUsuario" value="" placeholder="Usuario" autocomplete="off" /></td>
        </tr>
        <tr>
            <td><input class="form-control" style="margin-left:auto;margin-right:auto" type="password" name="name" id="InputPassword" value="" placeholder="Contraseña" autocomplete="off" /></td>
        </tr>
        <tr>
            <td><button class="btn btn-primary" onclick="Ingresar()">Ingresar</button></td>
        </tr>
        <tr>
            <td><a href="/Login/RecuperarPassword">Recuperar Contraseña</a></td>
        </tr>
    </table>
</div>
          