
@{
    ViewBag.Title = "RolUsers";
}

<h4>Rol</h4>
<button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#ModalCrearRol">Nuevo Rol</button>
<div style="margin-top:20px; background-color:white;border-radius:15px">
    <div style="padding-top:20px">
        <h5 style="text-align:center">LISTA DE ROLES</h5>
    </div>
    <div style="padding-left:25px;padding-right:25px;padding-bottom:25px">
        <table id="gridRol" class="table" style="width:100%"></table>
    </div>
</div>

<!-- Modal Crear -->
<div class="modal fade" id="ModalCrearRol" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel"><strong>Nuevo Rol</strong></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table class="table table-borderless">
                    <tr>
                        <td>
                            <span>Nombre Rol</span>
                            <input class="form-control" type="text" name="name" value="" id="InputNombreRol" autocomplete="off" />
                        </td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success btn-sm" onclick="CrearRol()">Crear</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Editar -->
<div class="modal fade" id="ModalEditarRol" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel"><strong>Editar Rol</strong></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <label id="IdRol" hidden></label>
                <table class="table table-borderless">
                    <tr>
                        <td>
                            <span>Nombre Rol</span>
                            <input class="form-control" type="text" name="name" value="" id="InputENombreRol" autocomplete="off" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span>Estado</span>
                            <select class="form-control" id="SelectEstadoRol">
                                <option value="0">Inactivo</option>
                                <option value="1">Activo</option>
                            </select>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success btn-sm" onclick="GuardarCambiosRol()">Guardar Cambios</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Eliminar -->
<div class="modal fade" id="ModalEliminarRol" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel"><strong>Eliminar Rol</strong></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <label id="IdDRol" hidden></label>
                <label id="MensajeEliminarRol"></label>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger btn-sm" onclick="EliminarRol()">Eliminar</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        GridRol();
    });
</script>




