
@{
    ViewBag.Title = "Empresa";
}
         
<div style="text-align:end">
    <a class="btn btn-info btn-sm" href="/Empresa/Empresa">Volver</a>
    <a class="btn btn-warning btn-sm" href="/Empresa/Lista_Empresa">Ver Empresas</a>
</div>

<h2>Detalle Empresa</h2>

<table class="table table-borderless">
    <tr>
        <td style="width:50%">
            <label><strong>Nombre:</strong></label>
        </td>
        <td style="width:50%">
            <label id="NombreEmpresa"></label>
        </td>
    </tr>
    <tr>
        <td style="width:50%">
            <label><strong>Identificación:</strong></label>
        </td>
        <td style="width:50%">
            <label id="Identificacion"></label>
        </td>
    </tr>
    <tr>
        <td style="width:50%">
            <label><strong>Email:</strong></label>
        </td>
        <td style="width:50%">
            <label id="Email"></label>
        </td>
    </tr>
    <tr>
        <td style="width:50%">
            <label><strong>Teléfono:</strong></label>
        </td>
        <td style="width:50%">
            <label id="Telefono"></label>
        </td>
    </tr>
    <tr>
        <td style="width:50%">
            <label><strong>Dirección:</strong></label>
        </td>
        <td style="width:50%">
            <label id="Direccion"></label>
        </td>
    </tr>
    <tr>
        <td style="width:50%">
            <label><strong>Nombre Contacto:</strong></label>
        </td>
        <td style="width:50%">
            <label id="NombreContacto"></label>
        </td>
    </tr>
    <tr>
        <td style="width:50%">
            <label><strong>Estado:</strong></label>
        </td>
        <td style="width:50%">
            <label id="Estado"></label>
        </td>
    </tr>
</table>      
<table class="table table-borderless">
    <tr>
        <td style="width:50%">
            <button class="btn btn-success" onclick="PaginaEditar()">Modificar Datos</button>
        </td>
    </tr>
</table>

<script>
    $(document).ready(function () {
        CargarDatosDetalleEmpresa();
    });
</script>