
@{
    ViewBag.Title = "Empresa";
}

<h2>Empresa</h2>


<table class="table table-borderless">
    <tr>
        <td style="width:50%">
            <a href="/Empresa/Crear_Empresa" class="btn btn-success" style="min-width:100%">Nueva Empresa</a>
        </td>
        <td style="width:50%">
            <a href="/Empresa/Lista_Empresa" class="btn btn-success" style="min-width:100%">Ver Empresas</a>
        </td>
    </tr>
</table>


