
@{
    ViewBag.Title = "Empresa";
}

<div style="text-align:end">
    <a class="btn btn-info btn-sm" href="/Empresa/Empresa">Volver</a>
    <a class="btn btn-success btn-sm" href="/Empresa/Crear_Empresa">Nueva Empresa</a>
</div>

@*<h2>Lista Empresas</h2>*@

<div style="margin-top:20px; background-color:white;border-radius:15px">
    <div style="padding-top:20px">
        <h5 style="text-align:center">LISTA DE EMPRESAS</h5>
    </div>
    <div style="padding-left:25px;padding-right:25px;padding-bottom:25px">
        <table id="gridEmpresa" class="table" style="width:100%"></table>
    </div>
</div>

<script>
    $(document).ready(function () {
        GridEmpresa();
    });
</script>