
@{
    ViewBag.Title = "Inicio";
}

<h2>BIENVENIDO A</h2>

<label><strong>Sistema de Gestión para la Construcción</strong></label>
<br />
<label>GS Construcción permite el control de Empresa, Sucursales, Personal, Inventario, Nómina entre otras ventajas. </label>
