
@{
    ViewBag.Title = "Inicio";
}

<h2>BIENVENIDO</h2>


<br />
<label><strong>GSC</strong> (Sistema de Gestión para la Construcción) es un software que permite el control de tu Empresa, Sucursales, Personal, Inventario, Nómina entre otras ventajas. </label>
