
@{
    ViewBag.Title = "Inicio";
}

<h2>BIENVENIDO A</h2>

<label><strong>Sistema de Gestión para la Construcción</strong></label>
<br />
<br />
<label><strong>GS Construcción</strong> permite el control de tu Empresa, Sucursales, Personal, Inventario, Nómina entre otras ventajas. </label>
