
@{
    ViewBag.Title = "Ciudad";
}

<h4>Ciudad</h4>
<button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#ModalCrearCiudad">Nueva Ciudad</button>
<div style="margin-top:20px; background-color:white;border-radius:15px">
    <div style="padding-top:20px">
        <h5 style="text-align:center">LISTA CIUDADES</h5>
    </div>
    <div style="padding-left:25px;padding-right:25px;padding-bottom:25px">
        <table id="gridCiudad" class="table" style="width:100%"></table>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="ModalCrearCiudad" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel"><strong>Nueva Ciudad</strong></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table class="table table-borderless">
                    <tr>
                        <td>
                            <span>País</span>
                            <select id="SelectPais" class="form-control">
                                <option value="-1">Seleccione ...</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span>Nombre Ciudad</span>
                            <input class="form-control" type="text" name="name" value="" id="InputNombreCiudad" autocomplete="off" />
                        </td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success btn-sm" onclick="CrearCiudad()">Crear</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ModalEditarCiudad" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel"><strong>Editar Ciudad</strong></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <label id="IdCiudad" hidden></label>
                <table class="table table-borderless">
                    <tr>
                        <td>
                            <span>País</span>
                            <select class="form-control" id="SelectEPais">
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span>Nombre Ciudad</span>
                            <input class="form-control" type="text" name="name" value="" id="InputENombreCiudad" autocomplete="off" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span>Estado</span>
                            <select class="form-control" id="SelectEstadoCiudad">
                                <option value="0">Inactivo</option>
                                <option value="1">Activo</option>
                            </select>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success btn-sm" onclick="GuardarCambiosCiudad()">Guardar Cambios</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Eliminar -->
<div class="modal fade" id="ModalEliminarCiudad" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel"><strong>Eliminar Ciudad</strong></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <label id="IdDCiudad" hidden></label>
                <label id="MensajeEliminarCiudad"></label>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger btn-sm" onclick="EliminarCiudad()">Eliminar</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        GridCiudad();
        ListaPais();
        ListaEPais();
    });
</script>





